<!DOCTYPE html>
<html>
<head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
</head>
<body>
<div>
  <div style="width: 80%; padding-left: 100px">
    <ul>
      <li><a class="active" href="#home">ngEvents</a></li>
      <li><a href="events">All Events</a></li>
      <li><a href="#contact">Create Event</a></li>
      <li><a href="#about">Events</a></li>
<!--      <form style="float: right">-->
      <li>
        <div style="padding: 10px">
          <input>
          <button>Search</button>
        </div>
      </li>
<!--      </form>-->
    </ul>
  </div>
</div>

</body>
</html>
